[submodule "framework/FS.Abp"]
	path = framework/FS.Abp
	url = https://github.com/yinchang0626/FS.Abp.git
[submodule "modules/FS.Abp.Trees"]

	path = modules/FS.Abp.Trees

	url = https://github.com/yinchang0626/FS.Abp.Trees.git
[submodule "modules/FS.Abp.Themes"]
	path = modules/FS.Abp.Themes
	url = https://github.com/yinchang0626/FS.Abp.Themes.git
